<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devblog</title>
</head>
<body>
    <!-- CABEÇAÇALHO -->
    <header>
        <h2> Portal Devblog</h2>
        <a href="/"> inicio</a>
        <a href="/sobre">sobre</a>
        <hr>
    </header>

    <main>
        {% block contend %}
    <!-- OUTRAS PAGINAS -->
        {% endblock %}

    </main>

    <footer>
        <hr>
        <p>© 2026 Desenvolvido pela turma python</p>
    </footer>

    
</body>
</html>